/*
|| Global styles & custom css can be written here.
*/

/* Import tailwind base styles */
@import 'tailwindcss';

@font-face {
  font-family: 'NHaasGroteskTXPro';
  src: url('/fonts/NHaasGroteskTXPro-55Rg.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NHaasGroteskTXProB';
  src: url('/fonts/NHaasGroteskTXPro-65Md.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.p-sm p {
  font-size: .875rem;		
}
.download-node-content strong {
  font-family: 'NHaasGroteskTXProB';
}
.download-node-content p {
  margin-bottom: 20px;
}
.font-weight-bold {
  font-family: 'NHaasGroteskTXProB';
}
/*
@font-face {
  font-family: '55Roman';
  src: url('/fonts/NHaasGroteskTXPro-55Rg.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: '56Roman';
  src: url('/fonts/NHaasGroteskTXPro-56It.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: '65Roman';
  src: url('/fonts/NHaasGroteskTXPro-65Md.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: '66Roman';
  src: url('/fonts/NHaasGroteskTXPro-66Md.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
  */
@custom-variant dark (&:where(.dark, .dark *));

/* Import tailwind component styles */

/* Import tailwind utility styles */
@config '../tailwind.config.js';

/*
.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6,
.prose blockquote {
  color: #243e63;
} */

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  h1 {
    @apply text-9xl;
  }

  h2 {
    @apply text-8xl;
  }

  h3 {
    @apply text-7xl;
  }

  h4 {
    @apply text-6xl;
  }
  h5 {
    @apply text-5xl;
  }

  h6 {
    @apply text-4xl;
  }
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}